@{
    Layout = "layout";
    ViewBag.Title = "Correo de Prueba";
}

<p>Kielbasa venison ball tip shankle. Boudin prosciutto landjaeger, pancetta jowl turkey tri-tip porchetta beef pork loin drumstick. Frankfurter short ribs kevin pig ribeye drumstick bacon kielbasa. Pork loin brisket biltong, pork belly filet mignon ribeye pig ground round porchetta turducken turkey. Pork belly beef ribs sausage ham hock, ham doner frankfurter pork chop tail meatball beef pig meatloaf short ribs shoulder. Filet mignon ham hock kielbasa beef ribs shank. Venison swine beef ribs sausage pastrami shoulder.</p>
<table style="width: 100%">
    <tr>
        <td align="center">
            <p style="font-size: 16px; font-weight: normal; margin: 0; text-aling: center;">
                <a href="#" class="button" style="display: inline-block; color: white; background: #005661; border: solid #005661; border-width: 10px 20px 8px; font-weight: bold; border-radius: 4px;text-decoration: none;">Share the Awesomeness</a>
            </p>    
        </td>
    </tr>
</table>