<h2>Upload file</h2>

@using (Html.BeginForm("UploadFile", "Prueba", new { area = "" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <label for="upload">Upload file (Base de Datos):</label>
    <input type="file" name="upload" id="upload"/>
    <br />
    <input type="submit" value="Upload image"/>
    <br />
    @ViewBag.Message
}