
@{
    ViewBag.Title = "MOSTRAR REPORTES";
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">@ViewBag.Title</h4>
</div>

<div class="modal-body">
    <!-- barras -->
    <div class="form-group">
        <div id="chartContainer" style="height: 400px; width: 100%;"></div>
    </div>

    <!-- Pie -->
    <div class="form-group">
        <div id="chartContainer_pie" style="height: 400px;"></div>
    </div>

    <!-- tabla -->
    <div class="form-group">
        <table id="tabla-grafica" class="display " cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>OT</th>
                    <th>%</th>
                    <th>HORAS</th>
                </tr>
            </thead>
        </table>
    </div>

</div>