@{
    ViewBag.Title = "Reportes Financieros";
}

<div class="col-md-12 content-menu">
 <div class="col-md-3 col-sm-4 text-center">
        <a href="@Url.Action("ReporteFacturacionUnoAUno", "Produccion", new {Area = "Reportes"})">
           <img src="/Content/images/Menu/Parametrizacion.svg" class="img-responsive" alt="">
            <h4 class="text-center">Reporte Facturacion Uno A Uno</h4>
        </a>
    </div>
   
 


      <div class="col-md-3 col-sm-4 text-center">
        <a href="/informes_process/ReporteCuentaxCobrar.html" target = "_blanck">
            <img src="/Content/images/Menu/Parametrizacion.svg" class="img-responsive" alt="">
            <h4 class="text-center">Reporte Cuentas por Cobrar</h4>
        </a>
    </div>
    
    <div class="col-md-3 col-sm-4 text-center">
        <a href="@Url.Action("ReporteCuentaxPagar", "Produccion", new {Area = "Reportes"})">
            <img src="/Content/images/Menu/Parametrizacion.svg" class="img-responsive" alt="">
            <h4 class="text-center">Reporte Cuentas por Pagar</h4>
        </a>
    </div>
   <div class="col-md-3 col-sm-4 text-center">
        <a href="/informes_process/RentabilidadPresupuestos.html" target = "_blanck">
            <img src="/Content/images/Menu/Parametrizacion.svg" class="img-responsive" alt="">
            <h4 class="text-center">Reporte Rentabilidad de Presupuestos</h4>
        </a>
    </div>
    
    <div class="col-md-3 col-sm-4 text-center">
        <a href="/informes_process/ReporteFacturacionMes.html" target = "_blanck">
            <img src="/Content/images/Menu/Parametrizacion.svg" class="img-responsive" alt="">
            <h4 class="text-center">Reporte Facturacion Cliente Mensual</h4>
        </a>
    </div>
    
       <div class="col-md-3 col-sm-4 text-center">
        <a href="/informes_process/GraficoFacturacionCliente.html" target = "_blanck">
            <img src="/Content/images/Menu/Parametrizacion.svg" class="img-responsive" alt="">
            <h4 class="text-center">Grafico de Facturación por Cliente</h4>
        </a>
    </div>
       <div class="col-md-3 col-sm-4 text-center">
        <a href="/informes_process/GraficoCostoDeEmpelados.html" target = "_blanck">
            <img src="/Content/images/Menu/Parametrizacion.svg" class="img-responsive" alt="">
            <h4 class="text-center">Gráfico de Salario Por Area</h4>
        </a>
    </div>
    <div class="col-md-3 col-sm-4 text-center">
        <a href="/informes_process/ReporteCostoEspecificoEmpleado.html" target = "_blanck">
            <img src="/Content/images/Menu/Parametrizacion.svg" class="img-responsive" alt="">
            <h4 class="text-center">Reporte Costo Laboral Empresa</h4>
        </a>
    </div>
    <div class="col-md-3 col-sm-4 text-center">
        <a href="/informes_process/GraficoCostoEmpresa.html" target = "_blanck">
            <img src="/Content/images/Menu/Parametrizacion.svg" class="img-responsive" alt="">
            <h4 class="text-center">Gráfico Costo Laboral Empresa</h4>
        </a>
    </div>
    
    
     <div class="col-md-3 col-sm-4 text-center">
        <a href="/informes_process/GraficoRentabilidadPresupuestos.html" target = "_blanck">
            <img src="/Content/images/Menu/Parametrizacion.svg" class="img-responsive" alt="">
            <h4 class="text-center">Gráfico Rentabilidad Presupuesto</h4>
        </a>
    </div>
     <div class="col-md-3 col-sm-4 text-center">
        <a href="/informes_process/ReportePresupuestoGeneral.html" target = "_blanck">
            <img src="/Content/images/Menu/Parametrizacion.svg" class="img-responsive" alt="">
            <h4 class="text-center">Reporte Presupuesto General</h4>
        </a>
    </div>
      
    
    <div class="col-md-3 col-sm-4 text-center">
        <a href="/informes_process/ReporteFacturacionProveedores.html" target = "_blanck">
            <img src="/Content/images/Menu/Parametrizacion.svg" class="img-responsive" alt="">
            <h4 class="text-center">Reporte Facturación de Proveedores</h4>
        </a>
    </div>
    
      <div class="col-md-3 col-sm-4 text-center">
        <a href="/informes_process/GraficoFacturacionProveedores.html" target = "_blanck">
            <img src="/Content/images/Menu/Parametrizacion.svg" class="img-responsive" alt="">
            <h4 class="text-center">Gráfico Facturación de Proveedores</h4>
        </a>
    </div>
    
     <div class="col-md-3 col-sm-4 text-center">
        <a href="/informes_process/GraficoCuentasPorCobrar.html" target = "_blanck">
            <img src="/Content/images/Menu/Parametrizacion.svg" class="img-responsive" alt="">
            <h4 class="text-center">Gráfico Cuentas por Cobrar</h4>
        </a>
    </div>
    
     <div class="col-md-3 col-sm-4 text-center">
        <a href="/informes_process/GraficoCuentasPorPagar.html" target = "_blanck">
            <img src="/Content/images/Menu/Parametrizacion.svg" class="img-responsive" alt="">
            <h4 class="text-center">Gráfico Cuentas por <br> Pagar</h4>
        </a>
    </div>

</div>