.link-empresa {
    background-image: url('../Content/images/Gestion/icono-fondo.png');
    -ms-background-repeat: no-repeat;
    background-repeat: no-repeat;
    height: 183px;
    width: 210px;
    display: inline-block;
}

.img-empresa {
    width: 150px;
    opacity: 1 !important;
}

.img-perfil-empleado {
    height: 140px;
    margin: 0 auto;
}

/*******DATA TABLE*********/
table.dataTable {
    border: 0px;
    color: #222;
}

    table.dataTable thead {
        margin-bottom: 10px !important;
    }

        table.dataTable thead th,
        table.dataTable tfoot th {
            margin-bottom: 10px;
            font-size: 16px;
            background-color: #75cdef;
            border: 2px solid #fff;
            color: #fff;
        }

            table.dataTable thead th:first-child {
                border-radius: 10px 0 0 10px;
                border-left: none;
            }

            table.dataTable thead th:last-child {
                border-radius: 0 10px 10px 0;
                border-right: none;
            }

            table.dataTable tfoot th:first-child {
                border-radius: 10px 0 0 10px;
                border-left: none;
            }

            table.dataTable tfoot th:last-child {
                border-radius: 0 10px 10px 0;
                border-right: none;
            }

    table.dataTable tbody tr {
        background-color: #F9F9F9;
    }

        table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd, table.dataTable tbody tr.odd {
            background-color: #e2e2e2;
        }

        table.dataTable tbody tr td {
            border: 2px solid #fff;
        }

        table.dataTable tbody tr:first-child td:first-child {
            border-radius: 10px 0 0 0;
        }

        table.dataTable tbody tr:first-child td:last-child {
            border-radius: 0 10px 0 0;
        }

        table.dataTable tbody tr:last-child td:first-child {
            border-radius: 0 0 0 10px;
        }

        table.dataTable tbody tr:last-child td:last-child {
            border-radius: 0 0 10px 0;
        }

.dataTables_wrapper .dataTables_info {
    background-color: #27AAE1;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    padding: 6px;
}

.dataTables_wrapper .dataTables_paginate {
    font-size: 13px;
}

    .dataTables_wrapper .dataTables_paginate .pagination > li > a,
    .dataTables_wrapper .dataTables_paginate .pagination > li > span {
        color: #27AAE1;
        font-weight: bold;
        border: 1px solid #27AAE1;
    }

    .dataTables_wrapper .dataTables_paginate .pagination > .active > a,
    .dataTables_wrapper .dataTables_paginate .pagination > .active > a:hover,
    .dataTables_wrapper .dataTables_paginate .pagination > .active > a:focus,
    .dataTables_wrapper .dataTables_paginate .pagination > .active > span,
    .dataTables_wrapper .dataTables_paginate .pagination > .active > span:hover,
    .dataTables_wrapper .dataTables_paginate .pagination > .active > span:focus {
        background-color: #27AAE1;
        color: #fff;
        font-weight: bold;
        border: 1px solid #27AAE1;
    }

    .dataTables_wrapper .dataTables_paginate .pagination > .disabled > a,
    .dataTables_wrapper .dataTables_paginate .pagination > .disabled > a:hover,
    .dataTables_wrapper .dataTables_paginate .pagination > .disabled > a:focus,
    .dataTables_wrapper .dataTables_paginate .pagination > .disabled > span,
    .dataTables_wrapper .dataTables_paginate .pagination > .disabled > span:hover,
    .dataTables_wrapper .dataTables_paginate .pagination > .disabled > span:focus {
        background-color: #27AAE1;
        color: #fff;
        font-weight: bold;
        border: 1px solid #27AAE1;
        opacity: 0.4;
    }
/*******FIN DATA TABLE*********/

/**BOTON PERSONALIZADO**/
.btn-gestion {
    color: #FFFFFF;
    background-color: #27AAE1;
    border-color: #1D90C2;
}

    .btn-gestion:hover,
    .btn-gestion:focus,
    .btn-gestion:active,
    .btn-gestion.active,
    .open .dropdown-toggle.btn-gestion {
        color: #FFFFFF;
        background-color: #2297C9;
        border-color: #1D90C2;
    }

    .btn-gestion:active,
    .btn-gestion.active,
    .open .dropdown-toggle.btn-gestion {
        background-image: none;
    }

    .btn-gestion.disabled,
    .btn-gestion[disabled],
    fieldset[disabled] .btn-gestion,
    .btn-gestion.disabled:hover,
    .btn-gestion[disabled]:hover,
    fieldset[disabled] .btn-gestion:hover,
    .btn-gestion.disabled:focus,
    .btn-gestion[disabled]:focus,
    fieldset[disabled] .btn-gestion:focus,
    .btn-gestion.disabled:active,
    .btn-gestion[disabled]:active,
    fieldset[disabled] .btn-gestion:active,
    .btn-gestion.disabled.active,
    .btn-gestion[disabled].active,
    fieldset[disabled] .btn-gestion.active {
        background-color: #27AAE1;
        border-color: #1D90C2;
    }

    .btn-gestion .badge {
        color: #27AAE1;
        background-color: #FFFFFF;
    }
/**FIN BOTON PERSONALIZADO**/

/**TAB PERSONALIZADO**/
.navbar-gestion {
}

.nav-tabs.navbar-gestion > li > a {
    background-color: #D6D6D6;
    font-weight: bold;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.nav-tabs.navbar-gestion > li.active > a,
.nav-tabs.navbar-gestion > li.active > a:hover,
.nav-tabs.navbar-gestion > li.active > a:focus {
    background-color: #27AAE1;
    color: #fff;
}
/**FIN PERSONALIZADO**/

/******Radio button********/
.custom-checkbox, .custom-radiobutton {
    text-align: center;
}

    .custom-checkbox input[type="checkbox"], .custom-radiobutton input[type="checkbox"], .custom-checkbox input[type="radio"], .custom-radiobutton input[type="radio"] {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

        .custom-checkbox input[type="checkbox"]:focus + label:before, .custom-radiobutton input[type="checkbox"]:focus + label:before, .custom-checkbox input[type="radio"]:focus + label:before, .custom-radiobutton input[type="radio"]:focus + label:before, .custom-checkbox input[type="checkbox"]:hover + label:before, .custom-radiobutton input[type="checkbox"]:hover + label:before, .custom-checkbox input[type="radio"]:hover + label:before, .custom-radiobutton input[type="radio"]:hover + label:before {
            border-color: #fff;
            background-color: #fff;
        }

        .custom-checkbox input[type="checkbox"]:active + label:before, .custom-radiobutton input[type="checkbox"]:active + label:before, .custom-checkbox input[type="radio"]:active + label:before, .custom-radiobutton input[type="radio"]:active + label:before {
            transition-duration: 0s;
        }

        .custom-checkbox input[type="checkbox"] + label, .custom-radiobutton input[type="checkbox"] + label, .custom-checkbox input[type="radio"] + label, .custom-radiobutton input[type="radio"] + label {
            position: relative;
            padding-left: 2em;
            vertical-align: middle;
            user-select: none;
            cursor: pointer;
        }

            .custom-checkbox input[type="checkbox"] + label:before, .custom-radiobutton input[type="checkbox"] + label:before, .custom-checkbox input[type="radio"] + label:before, .custom-radiobutton input[type="radio"] + label:before {
                box-sizing: content-box;
                content: '';
                color: #4f8196;
                position: absolute;
                top: 50%;
                left: 0;
                width: 14px;
                height: 14px;
                margin-top: -9px;
                border: 2px solid #fff;
                text-align: center;
                transition: all 0.4s ease;
            }

            .custom-checkbox input[type="checkbox"] + label:after, .custom-radiobutton input[type="checkbox"] + label:after, .custom-checkbox input[type="radio"] + label:after, .custom-radiobutton input[type="radio"] + label:after {
                box-sizing: content-box;
                content: '';
                background-color: #00A69C;
                position: absolute;
                top: 50%;
                left: 4px;
                width: 10px;
                height: 10px;
                margin-top: -5px;
                transform: scale(0);
                transform-origin: 50%;
                transition: transform 200ms ease-out;
            }

        .custom-checkbox input[type="checkbox"]:disabled + label:before, .custom-radiobutton input[type="checkbox"]:disabled + label:before, .custom-checkbox input[type="radio"]:disabled + label:before, .custom-radiobutton input[type="radio"]:disabled + label:before {
            border-color: #cccccc;
        }

        .custom-checkbox input[type="checkbox"]:disabled:focus + label:before, .custom-radiobutton input[type="checkbox"]:disabled:focus + label:before, .custom-checkbox input[type="radio"]:disabled:focus + label:before, .custom-radiobutton input[type="radio"]:disabled:focus + label:before, .custom-checkbox input[type="checkbox"]:disabled:hover + label:before, .custom-radiobutton input[type="checkbox"]:disabled:hover + label:before, .custom-checkbox input[type="radio"]:disabled:hover + label:before, .custom-radiobutton input[type="radio"]:disabled:hover + label:before {
            background-color: inherit;
        }

        .custom-checkbox input[type="checkbox"]:disabled:checked + label:before, .custom-radiobutton input[type="checkbox"]:disabled:checked + label:before, .custom-checkbox input[type="radio"]:disabled:checked + label:before, .custom-radiobutton input[type="radio"]:disabled:checked + label:before {
            background-color: #cccccc;
        }

        .custom-checkbox input[type="checkbox"] + label:after, .custom-radiobutton input[type="checkbox"] + label:after {
            background-color: transparent;
            top: 50%;
            left: 4px;
            width: 8px;
            height: 3px;
            margin-top: -4px;
            border-style: solid;
            border-color: #ffffff;
            border-width: 0 0 3px 3px;
            border-image: none;
            transform: rotate(-45deg) scale(0);
        }

        .custom-checkbox input[type="checkbox"]:checked + label:after, .custom-radiobutton input[type="checkbox"]:checked + label:after {
            content: '';
            transform: rotate(-45deg) scale(1);
            transition: transform 200ms ease-out;
        }

        .custom-checkbox input[type="radio"]:checked + label:before, .custom-radiobutton input[type="radio"]:checked + label:before {
            animation: borderscale 300ms ease-in;
            background-color: white;
        }

        .custom-checkbox input[type="radio"]:checked + label:after, .custom-radiobutton input[type="radio"]:checked + label:after {
            transform: scale(1);
        }

        .custom-checkbox input[type="radio"] + label:before, .custom-radiobutton input[type="radio"] + label:before, .custom-checkbox input[type="radio"] + label:after, .custom-radiobutton input[type="radio"] + label:after {
            border-radius: 50%;
        }

        .custom-checkbox input[type="checkbox"]:checked + label:before, .custom-radiobutton input[type="checkbox"]:checked + label:before {
            animation: borderscale 200ms ease-in;
            background: #00A79D;
        }

        .custom-checkbox input[type="checkbox"]:checked + label:after, .custom-radiobutton input[type="checkbox"]:checked + label:after {
            transform: rotate(-45deg) scale(1);
        }
/******Fin Radio button*****/

.subnavbar-gestion {
}

    .subnavbar-gestion li a {
        padding: 5px;
        border-radius: 5px 5px 0 0;
        background-color: #615e5e;
    }

        .subnavbar-gestion li a:hover, .subnavbar-gestion li a.active {
            background-color: #fff;
            border-color: #27AAE1;
            color: #27AAE1;
        }

/**TABLA PARAMETRIZACION CLIENTES**/
table.tabla-parametrizacion-clientes {
    color: #fff;
    font-weight: bold;
    border: none;
    border-collapse: separate;
    background: none;
}

    table.tabla-parametrizacion-clientes tr td {
        border-color: #fff;
    }

    table.tabla-parametrizacion-clientes tr:first-child td:first-child {
        width: 10px;
        border-radius: 10px 0 0 0;
        -moz-border-radius: 10px 0 0 0;
        -webkit-border-radius: 10px 0 0 0;
    }

    table.tabla-parametrizacion-clientes tr:first-child td:last-child {
        border-radius: 0 10px 0 0;
        -moz-border-radius: 0 10px 0 0;
        -webkit-border-radius: 0 10px 0 0;
    }

    table.tabla-parametrizacion-clientes tr:last-child td:first-child {
        border-radius: 0 0 0 10px;
        -moz-border-radius: 0 0 0 10px;
        -webkit-border-radius: 0 0 0 10px;
    }

    table.tabla-parametrizacion-clientes tr:last-child td:last-child {
        border-radius: 0 0 10px 0;
        -moz-border-radius: 0 0 10px 0;
        -webkit-border-radius: 0 0 10px 0;
    }

    table.tabla-parametrizacion-clientes tr.tr-cliente {
        border: none;
    }

        table.tabla-parametrizacion-clientes tr.tr-cliente td {
            background-color: #4ebae2;
        }

    table.tabla-parametrizacion-clientes tr.tr-producto {
    }

        table.tabla-parametrizacion-clientes tr.tr-producto td {
            background-color: #74cdef;
        }

    table.tabla-parametrizacion-clientes tr.tr-sub-producto {
    }

        table.tabla-parametrizacion-clientes tr.tr-sub-producto td {
            background-color: #a1e0f8;
        }

    table.tabla-parametrizacion-clientes tr td.clear {
        background: none;
        border: none;
    }

    table.tabla-parametrizacion-clientes tr {
        background: none !important;
        border: none !important;
    }
/**FIN TABLA PARAMETRIZACION CLIENTES**/
