body {
    background-image: url(../images/ControlAcceso/background-login/1.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content-bienvenida {
    background-color: #fff;
    border-radius: 10px;
    padding: 0 50px;
}