@{
    ViewBag.Title = "Reportes Tráfico";
}

<div class="col-md-12 content-menu">

    <div class="col-md-3 col-sm-4 text-center">
        <a href="@Url.Action("ReporteArteFinal")">
            <img src="/Content/images/Menu/Trafico.svg" class="img-responsive" alt="">
            <h4 class="text-center">Reporte Artes Finales</h4>
        </a>
    </div>
        <div class="col-md-3 col-sm-4 text-center">
       <a href="/informes_process/GraficoDepartamentoArte.html" target = "_blanck">
           <img src="/Content/images/Menu/Trafico.svg" class="img-responsive" alt="">
            <h4 class="text-center">Gráfico Artes Finales</h4>
        </a>
    </div>
    <div class="col-md-3 col-sm-4 text-center">
       <a href="/informes_process/ReporteTraficoBTL.html" target = "_blanck">
           <img src="/Content/images/Menu/Trafico.svg" class="img-responsive" alt="">
            <h4 class="text-center">Reporte Tráfico</h4>
        </a>
    </div>


    <div class="col-md-3 col-sm-4 text-center">
       <a href="/informes_process/GraficoEstadoOT.html" target = "_blanck">
           <img src="/Content/images/Menu/Trafico.svg" class="img-responsive" alt="">
            <h4 class="text-center">Grafico OT Tareas</h4>
        </a>
    </div>
    
    <div class="col-md-3 col-sm-4 text-center">
       <a href="/informes_process/GraficoTrafico.html" target = "_blanck">
           <img src="/Content/images/Menu/Trafico.svg" class="img-responsive" alt="">
            <h4 class="text-center">Gráfico Tráfico</h4>
        </a>
    </div>
    
     <div class="col-md-3 col-sm-4 text-center">
        <a href="/informes_process/ReporteListadoOts.html" target = "_blanck">
            <img src="/Content/images/Menu/Trafico.svg" class="img-response" alt="Empresas" />
            <h4 class="text-center">Reporte<br> Listado OTS</h4>
        </a>
    </div>
    
    
    <div class="col-md-3 col-sm-4 text-center">
        <a href="/informes_process/ReporteTraficoPorEmpresa.html" target = "_blanck">
            <img src="/Content/images/Menu/Trafico.svg" class="img-responsive" alt="">
            <h4 class="text-center">Reporte Trafico <br> Empresa</h4>
        </a>
    </div>
    
    
       <div class="col-md-3 col-sm-4 text-center">
        <a href="/informes_process/ReporteTraficoPorDirector.html" target = "_blanck">
            <img src="/Content/images/Menu/Trafico.svg" class="img-responsive" alt="">
            <h4 class="text-center">Reporte Trafico por director</h4>
        </a>
    </div>
    
    <div class="col-md-3 col-sm-4 text-center">
        <a href="/informes_process/ReporteOrdenesTrabajoPersona.html" target = "_blanck">
            <img src="/Content/images/Menu/Trafico.svg" class="img-response" alt="Empresas" />
            <h4 class="text-center">Órdenes de trabajo por persona</h4>
        </a>
    </div>
    
    
    <div class="col-md-3 col-sm-4 text-center">
        <a href="/informes_process/GraficoOtsPersona.html" target = "_blanck">
            <img src="/Content/images/Menu/Trafico.svg" class="img-response" alt="Empresas" />
            <h4 class="text-center">Gráfico OTS por<br> Persona</h4>
        </a>
    </div>
       
</div>