@{
    ViewBag.Title = "Facturas radicadas de proveedores";
}
<div class="x_panel">
    <div class="x_title">
        <h2>@ViewBag.Title</h2>
        <ul class="nav navbar-right panel_toolbox text-right">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="form-inline">

                    <div class="form-group col-md-4">
                        <label for="texto">Ingrese el texto:</label>
                        <input type="text" class="form-control" id="texto">
                    </div>
                    <div class="form-group col-md-3 ">
                        <a class="btn btn-warning" onclick="CargarFacturasProveedor()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <div class="clearfix"></div>
                    <div class="form-group col-md-12" id="factura-proveedor">
                        <table id="tabla-facturas-proveedor" class="table table-striped table-bordered compact text-center" cellpadding="0" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>NÚMERO DE OC</th>
                                    <th>FACTURA</th>
                                    <th>EMPRESA</th>
                                    <th>CLIENTE</th>
                                    <th>OT</th>
                                    <th>Referencia OT</th>
                                    <th>Número de ppto</th>
                                    <th>Versión de presupuesto interno</th>
                                    <th>Versión de presupuesto externo</th>
                                    <th>Proveedor</th>
                                    <th>Nit proveedor</th>
                                    <th>Subtotal</th>
                                    <th>Total impuestos</th>
                                    <th>Total</th>
                                    <th>Estado</th>
                                    <th>Usuario que registró</th>
                                    <th>Solicitar aprobación</th>
                                    <th>Activar/Cancelar</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
