/*******DATA TABLE*********/
table.dataTable {
    border: 0px;
    color: #222;
}

    table.dataTable thead {
        margin-bottom: 10px !important;
    }

        table.dataTable thead th,
        table.dataTable tfoot th {
            margin-bottom: 10px;
            font-size: 16px;
            background-color: #adadad;
            border: 2px solid #fff;
            color: #fff;
        }

            table.dataTable thead th:first-child {
                border-radius: 10px 0 0 10px;
                border-left: none;
            }

            table.dataTable thead th:last-child {
                border-radius: 0 10px 10px 0;
                border-right: none;
            }

            table.dataTable tfoot th:first-child {
                border-radius: 10px 0 0 10px;
                border-left: none;
            }

            table.dataTable tfoot th:last-child {
                border-radius: 0 10px 10px 0;
                border-right: none;
            }

    table.dataTable tbody tr {
        background-color: #F9F9F9;
    }

        table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd, table.dataTable tbody tr.odd {
            background-color: #d6d6d6;
        }

        table.dataTable tbody tr td {
            border: 2px solid #fff;
        }

        table.dataTable tbody tr:first-child td:first-child {
            border-radius: 10px 0 0 0;
        }

        table.dataTable tbody tr:first-child td:last-child {
            border-radius: 0 10px 0 0;
        }

        table.dataTable tbody tr:last-child td:first-child {
            border-radius: 0 0 0 10px;
        }

        table.dataTable tbody tr:last-child td:last-child {
            border-radius: 0 0 10px 0;
        }

.dataTables_wrapper .dataTables_info {
    background-color: #808080;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    padding: 6px;
}

.dataTables_wrapper .dataTables_paginate {
    font-size: 13px;
}

    .dataTables_wrapper .dataTables_paginate .pagination > li > a,
    .dataTables_wrapper .dataTables_paginate .pagination > li > span {
        color: #808080;
        font-weight: bold;
        border: 1px solid #808080;
    }

    .dataTables_wrapper .dataTables_paginate .pagination > .active > a,
    .dataTables_wrapper .dataTables_paginate .pagination > .active > a:hover,
    .dataTables_wrapper .dataTables_paginate .pagination > .active > a:focus,
    .dataTables_wrapper .dataTables_paginate .pagination > .active > span,
    .dataTables_wrapper .dataTables_paginate .pagination > .active > span:hover,
    .dataTables_wrapper .dataTables_paginate .pagination > .active > span:focus {
        background-color: #808080;
        color: #fff;
        font-weight: bold;
        border: 1px solid #808080;
    }

    .dataTables_wrapper .dataTables_paginate .pagination > .disabled > a,
    .dataTables_wrapper .dataTables_paginate .pagination > .disabled > a:hover,
    .dataTables_wrapper .dataTables_paginate .pagination > .disabled > a:focus,
    .dataTables_wrapper .dataTables_paginate .pagination > .disabled > span,
    .dataTables_wrapper .dataTables_paginate .pagination > .disabled > span:hover,
    .dataTables_wrapper .dataTables_paginate .pagination > .disabled > span:focus {
        background-color: #808080;
        color: #fff;
        font-weight: bold;
        border: 1px solid #808080;
        opacity: 0.4;
    }
/*******FIN DATA TABLE*********/


/**BOTON PERSONALIZADO**/
.btn-parametrizacion {
    color: #FFFFFF;
    background-color: #808080;
    border-color: #4D4D4D;
}

    .btn-parametrizacion:hover,
    .btn-parametrizacion:focus,
    .btn-parametrizacion:active,
    .btn-parametrizacion.active,
    .open .dropdown-toggle.btn-parametrizacion {
        color: #FFFFFF;
        background-color: #706F6F;
        border-color: #4D4D4D;
    }

    .btn-parametrizacion:active,
    .btn-parametrizacion.active,
    .open .dropdown-toggle.btn-parametrizacion {
        background-image: none;
    }

    .btn-parametrizacion.disabled,
    .btn-parametrizacion[disabled],
    fieldset[disabled] .btn-parametrizacion,
    .btn-parametrizacion.disabled:hover,
    .btn-parametrizacion[disabled]:hover,
    fieldset[disabled] .btn-parametrizacion:hover,
    .btn-parametrizacion.disabled:focus,
    .btn-parametrizacion[disabled]:focus,
    fieldset[disabled] .btn-parametrizacion:focus,
    .btn-parametrizacion.disabled:active,
    .btn-parametrizacion[disabled]:active,
    fieldset[disabled] .btn-parametrizacion:active,
    .btn-parametrizacion.disabled.active,
    .btn-parametrizacion[disabled].active,
    fieldset[disabled] .btn-parametrizacion.active {
        background-color: #808080;
        border-color: #4D4D4D;
    }

    .btn-parametrizacion .badge {
        color: #808080;
        background-color: #FFFFFF;
    }

/**FIN BOTON PERSONALIZADO**/
​