@{
    ViewBag.Title = "Cargar imagen";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">@ViewBag.Title</h4>
</div>

<div class="modal-body">
    <div class="form-group">
        <input type="file" id="input_upload_file" class="form-control" onchange="EmpresaCrear.UploadImage.Upload(this)" />
    </div>
    <div id="content-imagen-upload" class="form-group" hidden>
        <img id="logo-view-crop" src="" alt="Imagen">
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-secondary" onclick="EmpresaCrear.UploadImage.Crop()">Seleccionar</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
    </div>
</div>

<div class="clearfix"></div>